<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MOCK DAO -->
    <add key="DAOLibrary" value="SzymaniakDlugosz.WindGear.DAOMock.dll"/>
    
    <!-- SQL DAO (uncomment to use) -->
    <!-- <add key="DAOLibrary" value="SzymaniakDlugosz.WindGear.DAOSQL.dll"/> -->
  </appSettings>
</configuration>
