<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Change this dynamically or manually to switch DAO -->
    <!-- Options: "SzymaniakDlugosz.WindGear.DAOMock.dll" or "SzymaniakDlugosz.WindGear.DAOSQL.dll" -->
    <add key="DAOLibrary" value="SzymaniakDlugosz.WindGear.DAOMock.dll"/>
  </appSettings>
</configuration>
